<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seus Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar  (IonChange)="searchContacts($event)"></ion-searchbar>

  <ion-list >
      <ion-item *ngFor="let contact of contacts" (click)="saveContact(contact)">
        <ion-label>{{ contact.name }}</ion-label>
      </ion-item>
  </ion-list>

  <ion-item></ion-item>
  <ion-item></ion-item>
  <ion-item></ion-item>
  <ion-item></ion-item>
</ion-content>
